﻿/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 1200px;
}

#body {
    /*background-color: #faf7f7;*/
    background-color: #fff;
    clear: both;
    padding-bottom: 35px;

    min-height:600px;
    height:auto !important;
    height:600px

}

    .main-content {
    background: url("../Images/accent.png") no-repeat;
    padding-left: 10px;
    padding-top: 30px;
}

    .featured + .main-content {
        background: url("../Images/heroAccent.png") no-repeat;
    }

header .content-wrapper {
    padding-top: 20px; 
}
    
footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin-left: 0px;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }

   /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
/* END: Mobile Styles */


/********************
*    QADA Styles    *
********************/
        .TextBoxCssClass {
            background-color: white;
            border-color: gray;
            border-radius: 0px;
            color: #666;
            font-family: 'Ericsson Capital TT';
            font-size: small;
            font-style: inherit;
        }

        .TextBoxCssClass:focus {
            box-shadow: 0 0 5px 3px #0094ff;
        }​

        .TextBoxCssClass:hover:focus {
            box-shadow: 0 0 5px 3px #0094ff;
        }

    loginCssClass {
        background-color: #0094ff;
    
    }

button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#00a1f7 0%,
		#0085c2);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#00a1f7),
		to(#0085c2));
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 2px solid #ffffff;
	-moz-box-shadow:
		0px 3px 11px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,000,217,1);
	-webkit-box-shadow:
		0px 3px 11px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,000,217,1);
	box-shadow:
		0px 3px 11px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,000,217,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}
